<section style="background-color: antiquewhite; min-height:100vh">
    <div class="container pt-5">
    <div class="row">
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
  <div class="col-md-6">
   
    <input type="text" name="brand" placeholder="BRAND" class="form-control">
  {{!-- <div class="mt-3">
    <label for="" class="form-label">category:</label>
    <input type="text" name="category" class="form-control" id="exampleInputPassword1" required>
  </div> --}}
  <select class="form-select mt-3" name="category"  class="form-control" aria-label="Default select example">
  <option selected>CATAGORY</option>
  <option value="BOYS">BOYS</option>
  <option value="GIRLS">GIRLS</option>
  <option value="FOOTWEAR">FOOTWEAR</option>
</select>

 
     <div class="mt-3">
    
    <input type="text" name="description" placeholder="DESCRIPTION" class="form-control" id="exampleInputPassword1" required>
  </div>

 <div class="mt-3">
    
    <input type="number" name="orginalPrice" placeholder="PRICE" class="form-control" id="exampleInputPassword1" required>
  </div>

  {{!-- <div class="mt-3">
   
    <input type="text" name="offerPrice" placeholder="OFFER PRPCE" class="form-control" id="exampleInputPassword1" required>
  </div> --}}
  <div class="mt-3">
    
    <input type="text" name="offerpercentage" placeholder="OFEER PERCENTAGE" class="form-control" id="exampleInputPassword1" required>
  </div>



  <div class="mt-3">
    
    <input type="file" name="image" placeholder="IMAGE1" class="form-control" id="imgView" required>
  </div>
   <div class="mt-3">
    
    <input type="file" name="images" placeholder="IMAGE2" class="form-control" id="exampleInputPassword1" required>
  </div>
   <div class="mt-3">
    
    <input type="file" name="image3" placeholder="IMAGE3" class="form-control" id="exampleInputPassword1" required>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
    </div>
    </div>
</section>
