<section style="background-color: antiquewhite; min-height:100vh">
    <div class="container pt-5">
    <div class="row">
        <form action="/admin/add-Coupen" method="post" enctype="multipart/form-data">
  <div class="col-md-6">
   
    <input type="text" name="name" placeholder="Coupen name" class="form-control">
  {{!-- <div class="mt-3">
    <label for="" class="form-label">category:</label>
    <input type="text" name="category" class="form-control" id="exampleInputPassword1" required>
  </div> --}}
  <div class="mt-3">
    
    <input type="text" name="code" placeholder="Coupen Code" class="form-control" id="exampleInputPassword1" required>
  </div>
  <div class="mt-3">
    
    <input type="text" name="offer" placeholder="Offer percentage" class="form-control" id="exampleInputPassword1" required>
  </div>

 
      

 <div class="mt-3">
    
    <input type="date" name="startDate" placeholder="Starting Date" class="form-control" id="exampleInputPassword1" required>
  </div>

  {{!-- <div class="mt-3">
   
    <input type="text" name="offerPrice" placeholder="OFFER PRPCE" class="form-control" id="exampleInputPassword1" required>
  </div> --}}
  <div class="mt-3">
    
    <input type="date" name="endDate" placeholder="End Date" class="form-control" id="exampleInputPassword1" required>
  </div>




  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
    </div>
    </div>
</section>
<script>
    
</script>