<section style="background-color: antiquewhite;">
<div class="container">
  <form action="/place-order" id="checkout-form">
<div class="row pt-5">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3 bg-dark">
        <h5 class="mb-0 text-light">ADD ADDRESS</h5>
      </div>
      <div class="card-body bg-light">
        
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example1" name="name" class="form-control" required />
                <input type="text" value="{{user._id}}" name="userId" class="form-control" hidden/>
                <label class="form-label" for="form7Example1">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example2" name="phoneNumber" class="form-control" required/>
                <label class="form-label" for="form7Example2">Phone Number</label>
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="row mb-4">
            <div class="col">
          <div class="form-outline mb-4">
            <input type="text" id="form7Example3" name="state" class="form-control" required />
            <label class="form-label" for="form7Example3">State</label>
          </div>
          </div>

          <!-- Text input -->
           <div class="col">
          <div class="form-outline mb-4">
            <input type="text" id="form7Example4" name="pincode" class="form-control" required/>
            <label class="form-label" for="form7Example4">Pincode</label>
          </div>
           </div>
           </div>

          <!-- Email input -->
           <div class="row mb-4">
            <div class="col">
          <div class="form-outline mb-4">
            <input type="text" id="form7Example5" name="city" class="form-control" required />
            <label class="form-label" for="form7Example5">City</label>
          </div>
        </div>
          <!-- Number input -->
          <div class="col">
          <div class="form-outline mb-4">
            <input type="number" id="form7Example6" name="house" class="form-control" required />
            <label class="form-label" for="form7Example6">House No,Building Name</label>
          </div>
          </div>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form7Example7" name="address" rows="4"></textarea>
            <label class="form-label" for="form7Example7">Address information</label>
          </div>

          <!-- Checkbox -->
        
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3 bg-dark text-light">
        <h5 class="mb-0">Amount</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Products items:
            <span>$53.98</span>
          </li>
          <li class=" d-flex justify-content-between align-items-center px-0">
            Shipping
            <span>free</span>
          </li>
           <li class=" d-flex justify-content-between align-items-center px-0">
            Delivery charge
            <span>free</span>
          </li>
          <li class="d-flex justify-content-between align-items-center border-0 px-0 mb-3">
            <div>
              <strong>Total amount</strong>
              <strong>
                <p class="mb-0">(including GST)</p>
              </strong>
            </div>
            <span><strong>${{total}}</strong></span>
          </li>
        </ul>

     
      </div>


         <div class="card-header py-3 bg-dark text-light">
        <h5 class="mb-0">Payment Method</h5>
      </div>
      <div class="card-body mt-4">
 
         <div class="form-check">
  <input type="radio" class="form-check-input" id="radio1" name="payment-method" value="COD" checked><strong>Cash On Delivery</strong>
  <label class="form-check-label" for="radio1"></label>
</div>
        
          <div class="form-check mt-4">
  <input type="radio" class="form-check-input" id="radio1" name="payment-method" value="ONLINE" checked><strong>Online Pyment</strong>
  <label class="form-check-label" for="radio1"></label>
</div>
        </ul>
        <button type="submit"  class="btn btn-primary btn-lg btn-block mt-4">
          PLACE ORDER
        </button>
      </div>
     
    </div>
  </div>
</div>
 </form>
</div>
</section>
<script>
  $("#checkout-form").submit((e)=>{
    e.preventDefault()
    $.ajax({
      url:'/place-order',
      method:'post',
      data:$('#checkout-form').serialize(),
      success:(response)=>{
        alert1();
      function alert1(){

        }
        if(response.status){
          location.href='/order-success'
        }
      }
    })
  })
</script>