<section class="vh-100" >
  <div class="containe py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center  ">
      <div class="col col-md-10" >
        <div class="card" style="border-radius: 1rem; height:1px">
          <div class="row g-0">
            
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body  text-black">


                <form action="/login" method="post">


                 
                  {{#if loginErr}}

                  <p class="error text-danger">invalid password</p>
                  {{/if}}
                  {{#if userBlock}}
                  <p class="error text-danger">your Are Blocked</p>
                  {{/if}}
                 

                  {{!-- <div class="d-flex align-items-center mb-3 pb-1">
                    
                    <span class="h1 fw-bold mb-0"><img src="/product-images/logo.png" style="width: 60px;" alt=""></span>
                  </div> --}}

                  <h5 class="fw-normal mb-1 " style="letter-spacing: 1px;">Please enter your login and password!</h5>

                  <div class="form-outline mb-2">
                    <input type="email" name="email" placeholder="Email Address" id="form2Example17"
                      class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-1">
                    <input type="password" name="password" placeholder="Password" id="form2Example27"
                      class="form-control form-control-lg" />

                  </div>
                  <p class="small mb-2 pb-lg-2"><a href="/verify-phone">LOGIN WITH OTP </a></p>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/signup"
                      style="color: #393f81;">Register here</a></p>
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>